form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.field {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  background-color: var(--clr-primary-500);
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

button:is(:hover, :focus) {
  background-color: var(--clr-primary-700);
}

textarea {
  resize: vertical;
  height: 5rem;
}

input,
textarea {
  border: 2px solid;
  border-color: var(--clr-primary-200);
  outline: none;
}

:is(input, textarea):focus {
  border-color: var(--clr-primary-500);
}

button,
input,
textarea {
  padding: 0.5rem;
}
