table {
  border-collapse: collapse;
  border-radius: 4px;
  background-color: var(--clr-primary-50);
  width: 100%;
  border: 1px solid var(--clr-primary-500);
}

thead {
  background-color: var(--clr-primary-500);
  font-weight: 700;
  color: white;
}

tr:nth-child(even) {
  background-color: var(--clr-primary-100);
}

td {
  padding: 0.5rem;
  vertical-align: top;
}

::selection {
  background-color: var(--clr-primary-500);
  color: white;
}

thead ::selection {
  background-color: white;
  color: var(--clr-primary-500);
}
