:root {
  --clr-primary-h: 220;
  --clr-primary-s: 60%;

  --clr-primary-50: hsl(var(--clr-primary-h) var(--clr-primary-s) 95%);
  --clr-primary-100: hsl(var(--clr-primary-h) var(--clr-primary-s) 90%);
  --clr-primary-200: hsl(var(--clr-primary-h) var(--clr-primary-s) 80%);
  --clr-primary-300: hsl(var(--clr-primary-h) var(--clr-primary-s) 70%);
  --clr-primary-400: hsl(var(--clr-primary-h) var(--clr-primary-s) 60%);
  --clr-primary-500: hsl(var(--clr-primary-h) var(--clr-primary-s) 50%);
  --clr-primary-600: hsl(var(--clr-primary-h) var(--clr-primary-s) 40%);
  --clr-primary-700: hsl(var(--clr-primary-h) var(--clr-primary-s) 30%);
  --clr-primary-800: hsl(var(--clr-primary-h) var(--clr-primary-s) 20%);
  --clr-primary-900: hsl(var(--clr-primary-h) var(--clr-primary-s) 10%);

  --border-radius: 5px;
}
